USE [master]
GO
/****** Object:  Database [bdmiloficios]    Script Date: 10/11/2019 20:38:00 ******/
CREATE DATABASE [bdmiloficios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdmiloficios_Data', FILENAME = N'c:\dzsqls\bdmiloficios.mdf' , SIZE = 3264KB , MAXSIZE = 15360KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdmiloficios_Logs', FILENAME = N'c:\dzsqls\bdmiloficios.ldf' , SIZE = 1024KB , MAXSIZE = 20480KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdmiloficios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdmiloficios]
GO
/****** Object:  User [JhonCB_SQLLogin_1]    Script Date: 10/11/2019 20:38:03 ******/
CREATE USER [JhonCB_SQLLogin_1] FOR LOGIN [JhonCB_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [JhonCB_SQLLogin_1]
GO
/****** Object:  Schema [JhonCB_SQLLogin_1]    Script Date: 10/11/2019 20:38:06 ******/
CREATE SCHEMA [JhonCB_SQLLogin_1]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[activo] [bit] NULL,
	[eliminado] [bit] NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estado_servicio]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estado_servicio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_estado_servicio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[facturacion]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[facturacion](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[NroFactura] [varchar](50) NULL,
	[Precio] [smallmoney] NULL,
	[idservicio] [int] NULL,
 CONSTRAINT [PK_facturacion] PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Localizacion]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Localizacion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ubicacion] [varchar](max) NULL,
	[Latitud] [varchar](500) NULL,
	[Longitud] [varchar](500) NULL,
 CONSTRAINT [PK_Localizacion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[modulo]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[modulo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_modulo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[operaciones]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[operaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[idModulo] [int] NULL,
 CONSTRAINT [PK_operaciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RecuperacionCuentaTemp]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RecuperacionCuentaTemp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[codigoRecuperacion] [varchar](10) NOT NULL,
	[fechaSolicitada] [datetime] NOT NULL,
	[estado] [int] NOT NULL CONSTRAINT [DF_RecuperacionCuentaTemp_estado]  DEFAULT ((1)),
 CONSTRAINT [PK__Recupera__3214EC07D89BD38B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rol]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rol_operacion]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_operacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NULL,
	[idOperacion] [int] NULL,
 CONSTRAINT [PK_perfil_operacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Servicios](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NULL,
	[descripcion] [varchar](200) NULL,
	[calificacion] [int] NULL,
	[fecha_inicio] [datetime] NULL,
	[fecha_fin] [datetime] NULL,
	[id_categoria] [int] NULL,
	[idLocalizacion] [int] NULL,
	[latitud] [varchar](50) NULL,
	[longitud] [varchar](50) NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Solicitud]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitud](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_servicio] [int] NULL,
	[costo] [smallmoney] NULL,
	[cotizacion] [smallmoney] NULL,
	[Estado] [bit] NULL,
	[id_usuario] [int] NULL,
 CONSTRAINT [PK_Solicitud] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuario]    Script Date: 10/11/2019 20:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](200) NULL,
	[activo] [bit] NULL,
	[eliminado] [bit] NULL,
	[fecha] [datetime] NULL,
	[idRol] [int] NULL,
	[idLocalizacion] [int] NULL,
	[telefono] [varchar](10) NULL,
	[urlFoto] [varchar](max) NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[categoria] ON 

GO
INSERT [dbo].[categoria] ([id_categoria], [descripcion], [activo], [eliminado]) VALUES (1, N'Mudanzas', 1, 0)
GO
INSERT [dbo].[categoria] ([id_categoria], [descripcion], [activo], [eliminado]) VALUES (2, N'Tecnicos', 1, 0)
GO
INSERT [dbo].[categoria] ([id_categoria], [descripcion], [activo], [eliminado]) VALUES (3, N'Jardinero', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[estado_servicio] ON 

GO
INSERT [dbo].[estado_servicio] ([id], [descripcion]) VALUES (1, N'Activo')
GO
INSERT [dbo].[estado_servicio] ([id], [descripcion]) VALUES (2, N'Inactivo')
GO
SET IDENTITY_INSERT [dbo].[estado_servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[facturacion] ON 

GO
INSERT [dbo].[facturacion] ([id_factura], [fecha], [NroFactura], [Precio], [idservicio]) VALUES (1, CAST(N'2017-01-01 22:00:00.000' AS DateTime), N'A00001', 250.0000, 1)
GO
SET IDENTITY_INSERT [dbo].[facturacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Localizacion] ON 

GO
INSERT [dbo].[Localizacion] ([ID], [Ubicacion], [Latitud], [Longitud]) VALUES (1, N'Lima', N'-12.046490', N'-77.032130')
GO
INSERT [dbo].[Localizacion] ([ID], [Ubicacion], [Latitud], [Longitud]) VALUES (2, N'Trujillo', N'-8.107150', N'-79.027470')
GO
INSERT [dbo].[Localizacion] ([ID], [Ubicacion], [Latitud], [Longitud]) VALUES (3, N'Huaraz', N'-9.526110', N'-77.528750')
GO
SET IDENTITY_INSERT [dbo].[Localizacion] OFF
GO
SET IDENTITY_INSERT [dbo].[modulo] ON 

GO
INSERT [dbo].[modulo] ([id], [nombre]) VALUES (1, N'Usuarios')
GO
INSERT [dbo].[modulo] ([id], [nombre]) VALUES (2, N'Roles')
GO
INSERT [dbo].[modulo] ([id], [nombre]) VALUES (3, N'Servicios')
GO
SET IDENTITY_INSERT [dbo].[modulo] OFF
GO
SET IDENTITY_INSERT [dbo].[operaciones] ON 

GO
INSERT [dbo].[operaciones] ([id], [nombre], [idModulo]) VALUES (1, N'Agregar', 1)
GO
INSERT [dbo].[operaciones] ([id], [nombre], [idModulo]) VALUES (2, N'Editar', 1)
GO
INSERT [dbo].[operaciones] ([id], [nombre], [idModulo]) VALUES (3, N'Eliminar', 1)
GO
SET IDENTITY_INSERT [dbo].[operaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[RecuperacionCuentaTemp] ON 

GO
INSERT [dbo].[RecuperacionCuentaTemp] ([Id], [IdUsuario], [codigoRecuperacion], [fechaSolicitada], [estado]) VALUES (1, 5, N'5073', CAST(N'2019-11-10 20:23:12.183' AS DateTime), 1)
GO
INSERT [dbo].[RecuperacionCuentaTemp] ([Id], [IdUsuario], [codigoRecuperacion], [fechaSolicitada], [estado]) VALUES (2, 5, N'9565', CAST(N'2019-11-10 20:23:40.783' AS DateTime), 1)
GO
INSERT [dbo].[RecuperacionCuentaTemp] ([Id], [IdUsuario], [codigoRecuperacion], [fechaSolicitada], [estado]) VALUES (3, 2, N'9282', CAST(N'2019-11-10 20:24:41.057' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[RecuperacionCuentaTemp] OFF
GO
SET IDENTITY_INSERT [dbo].[rol] ON 

GO
INSERT [dbo].[rol] ([id], [nombre]) VALUES (1, N'Administrador')
GO
INSERT [dbo].[rol] ([id], [nombre]) VALUES (2, N'Socio')
GO
INSERT [dbo].[rol] ([id], [nombre]) VALUES (3, N'Cliente')
GO
SET IDENTITY_INSERT [dbo].[rol] OFF
GO
SET IDENTITY_INSERT [dbo].[rol_operacion] ON 

GO
INSERT [dbo].[rol_operacion] ([id], [idRol], [idOperacion]) VALUES (1, 1, 1)
GO
INSERT [dbo].[rol_operacion] ([id], [idRol], [idOperacion]) VALUES (2, 1, 2)
GO
INSERT [dbo].[rol_operacion] ([id], [idRol], [idOperacion]) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[rol_operacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

GO
INSERT [dbo].[Servicios] ([id_servicio], [idUsuario], [descripcion], [calificacion], [fecha_inicio], [fecha_fin], [id_categoria], [idLocalizacion], [latitud], [longitud], [estado]) VALUES (1, 1, N'aaaaaaa', 8, CAST(N'2019-11-05 00:00:00.000' AS DateTime), CAST(N'2018-06-06 00:00:00.000' AS DateTime), 7, 1, N'-12.01359', N'-77.00', 1)
GO
INSERT [dbo].[Servicios] ([id_servicio], [idUsuario], [descripcion], [calificacion], [fecha_inicio], [fecha_fin], [id_categoria], [idLocalizacion], [latitud], [longitud], [estado]) VALUES (3, 2, N'Hola', 0, CAST(N'2019-11-07 00:00:00.000' AS DateTime), CAST(N'2019-11-21 00:00:00.000' AS DateTime), 1, 1, N'-12.042141', N'-77.061129', 1)
GO
INSERT [dbo].[Servicios] ([id_servicio], [idUsuario], [descripcion], [calificacion], [fecha_inicio], [fecha_fin], [id_categoria], [idLocalizacion], [latitud], [longitud], [estado]) VALUES (4, 2, N'Testing', 7, CAST(N'2019-11-01 00:00:00.000' AS DateTime), CAST(N'2019-11-30 00:00:00.000' AS DateTime), 6, 1, N'-12.092141', N'-77.069129', 1)
GO
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

GO
INSERT [dbo].[usuario] ([id], [nombre], [email], [password], [activo], [eliminado], [fecha], [idRol], [idLocalizacion], [telefono], [urlFoto]) VALUES (1, N'roberto', N'acuario6432@outlook', N'micontra', 0, 0, CAST(N'2019-01-01 00:00:00.000' AS DateTime), 3, 1, N'949568229', N'https://adadi.org/wp-content/uploads/2019/03/FOTO-CARNET-MIGUEL-RUZ-150x150.jpg')
GO
INSERT [dbo].[usuario] ([id], [nombre], [email], [password], [activo], [eliminado], [fecha], [idRol], [idLocalizacion], [telefono], [urlFoto]) VALUES (3, N'guillermo', N'guillermo@gmail.com', N'1234', 1, 0, CAST(N'2018-05-04 00:00:00.000' AS DateTime), 3, 1, N'949568221', N'http://kelvinfong.net/wp-content/uploads/2016/01/Yong-Kok-Wong-300x300.jpg')
GO
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
ALTER TABLE [dbo].[facturacion]  WITH CHECK ADD  CONSTRAINT [FK_facturacion_Servicios] FOREIGN KEY([idservicio])
REFERENCES [dbo].[Servicios] ([id_servicio])
GO
ALTER TABLE [dbo].[facturacion] CHECK CONSTRAINT [FK_facturacion_Servicios]
GO
ALTER TABLE [dbo].[operaciones]  WITH CHECK ADD  CONSTRAINT [FK_operaciones_modulo] FOREIGN KEY([idModulo])
REFERENCES [dbo].[modulo] ([id])
GO
ALTER TABLE [dbo].[operaciones] CHECK CONSTRAINT [FK_operaciones_modulo]
GO
ALTER TABLE [dbo].[rol_operacion]  WITH CHECK ADD  CONSTRAINT [FK_rol_operacion_operaciones] FOREIGN KEY([idOperacion])
REFERENCES [dbo].[operaciones] ([id])
GO
ALTER TABLE [dbo].[rol_operacion] CHECK CONSTRAINT [FK_rol_operacion_operaciones]
GO
ALTER TABLE [dbo].[rol_operacion]  WITH CHECK ADD  CONSTRAINT [FK_rol_operacion_rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([id])
GO
ALTER TABLE [dbo].[rol_operacion] CHECK CONSTRAINT [FK_rol_operacion_rol]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [FK_Servicios_categoria]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_estado_servicio] FOREIGN KEY([estado])
REFERENCES [dbo].[estado_servicio] ([id])
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [FK_Servicios_estado_servicio]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_Localizacion] FOREIGN KEY([idLocalizacion])
REFERENCES [dbo].[Localizacion] ([ID])
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [FK_Servicios_Localizacion]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [FK_Servicios_usuario]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_Servicios] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[Servicios] ([id_servicio])
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [FK_Solicitud_Servicios]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [FK_Solicitud_usuario]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_Localizacion] FOREIGN KEY([idLocalizacion])
REFERENCES [dbo].[Localizacion] ([ID])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_Localizacion]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([id])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_rol]
GO
/****** Object:  StoredProcedure [dbo].[BuscarServicioXcategoria]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[BuscarServicioXcategoria]
(@categoria varchar(50))

as
begin
select s.id_servicio as[CODIGO],u.nombre as[NOMBRE],s.calificacion as[CALIFICACION],s.fecha_inicio as [FECHA-INICIO],
        s.fecha_fin as [FECHA-FIN],e.descripcion as[ESTADO],s.descripcion as [DESCRIPCIONSERVICIO],c.descripcion as[DESCRIPCION],l.Ubicacion AS[UBICACION],l.Latitud AS[LATITUD],l.Longitud AS[LONGITUD]
       

from Servicios s inner join categoria c
on s.id_categoria=c.id_categoria join usuario u
on u.id=s.idusuario inner join Localizacion l 
on u.idlocalizacion=l.ID inner join estado_servicio e
on s.estado=e.id
	where s.id_categoria=@categoria
end

GO
/****** Object:  StoredProcedure [dbo].[DETALLE_SERVICIO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[DETALLE_SERVICIO]
@codigo int
as
begin
     select s.descripcion as[DESCRIPCION],f.Precio AS[PRECIO],l.Ubicacion,l.Latitud,l.Longitud
	  from Servicios s inner join facturacion f
	 on s.id_servicio=f.idservicio inner join Localizacion l
	 on s.idLocalizacion=l.ID  where s.id_servicio=@codigo
   

end

GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_SERVICIO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ELIMINAR_SERVICIO]
@ID INT
AS
BEGIN
DELETE FROM Servicios
WHERE id_servicio=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_USUARIO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ELIMINAR_USUARIO]
@ID INT
AS
BEGIN
DELETE FROM usuario
WHERE id=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[GENERAR_RECUPERACION_CUENTA]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GENERAR_RECUPERACION_CUENTA]

@email varchar(100)
as   
   declare @mensaje varchar(200),@codResultado int,@id_usuario int,@cod_autogenerado varchar(10)      
    if exists(Select * from usuario where email=@email)

	begin
			Select @id_usuario=u.id from usuario u where email=@email
			 if ((Select COUNT(*) from RecuperacionCuentaTemp where IdUsuario = @id_usuario) >= 3)
				begin
					SET @mensaje = 'Correo encontrado, sobrepasó el limite de envio por dia'
					SET @codResultado = 2;
					SET @id_usuario = @id_usuario
					SET @cod_autogenerado = '0'	
					select @codResultado as CodResultado, @mensaje as DesResultado, @id_usuario as IdUsuario, @cod_autogenerado as CodAutogenerado
				    return
				end
			SET @cod_autogenerado = ROUND(((9999 - 1000) * RAND() + 1000), 0)	   	
	        INSERT INTO [dbo].[RecuperacionCuentaTemp] ([IdUsuario],[codigoRecuperacion],[fechaSolicitada],[estado])
			VALUES (@id_usuario,@cod_autogenerado, switchoffset (CONVERT(datetimeoffset, GETDATE()), '+03:00'),1)
			
			SET @mensaje = 'Correo encontrado'
			SET @codResultado = 1;
			select @codResultado as CodResultado, @mensaje as DesResultado, @id_usuario as IdUsuario, @cod_autogenerado as CodAutogenerado
	  return 
	end
begin
SET @codResultado = 0
SET @id_usuario = 0
SET @cod_autogenerado = '0'	
SET @mensaje='No existe el correo '+@email	    	   	
	   select @codResultado as CodResultado, @mensaje as DesResultado, @id_usuario as IdUsuario, @cod_autogenerado as CodAutogenerado		
	  return 
end


GO
/****** Object:  StoredProcedure [dbo].[LISTA_CATEGORIA]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTA_CATEGORIA]
as
begin
      select c.id_categoria as[CODIGO],c.descripcion as [NOMBRE] from categoria c

end

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ROL]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_ROL]
as 
begin
   select r.id as[CODIGO],r.nombre as[NOMBRE] from rol r
end

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SERVICIO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_SERVICIO]
as
begin
select s.id_servicio as[CODIGO],u.nombre as[NOMBRE],u.urlFoto as [URLFOTO],s.calificacion as[CALIFICACION],s.fecha_inicio as [FECHA-INICIO],
        s.fecha_fin as [FECHA-FIN],e.descripcion as[ESTADO],s.descripcion as [DESCRIPCIONSERVICIO],c.descripcion as[DESCRIPCION],l.Ubicacion AS[UBICACION],s.Latitud AS[LATITUD],s.Longitud AS[LONGITUD]
       

from Servicios s inner join categoria c
on s.id_categoria=c.id_categoria join usuario u
on u.id=s.idusuario join Localizacion l 
on s.idlocalizacion=l.ID inner join estado_servicio e
on s.estado=e.id
end

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SERVICIO_CALIFICACION]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_SERVICIO_CALIFICACION]

as
begin
select s.id_servicio as[CODIGO],u.nombre as[NOMBRE],u.urlFoto as [URLFOTO],s.calificacion as[CALIFICACION],s.fecha_inicio as [FECHA-INICIO],
        s.fecha_fin as [FECHA-FIN],e.descripcion as[ESTADO],s.descripcion as [DESCRIPCIONSERVICIO],c.descripcion as[DESCRIPCION],l.Ubicacion AS[UBICACION],s.Latitud AS[LATITUD],s.Longitud AS[LONGITUD]
   

from Servicios s inner join categoria c
on s.id_categoria=c.id_categoria join usuario u
on u.id=s.idusuario join Localizacion l 
on s.idlocalizacion=l.ID inner join estado_servicio e
on s.estado=e.id
	ORDER BY s.calificacion DESC
end

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SERVICIO_RECIENTE]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LISTAR_SERVICIO_RECIENTE]

as
begin
select s.id_servicio as[CODIGO],u.nombre as[NOMBRE],u.urlFoto as [URLFOTO],s.calificacion as[CALIFICACION],s.fecha_inicio as [FECHA-INICIO],
        s.fecha_fin as [FECHA-FIN],e.descripcion as[ESTADO],s.descripcion as [DESCRIPCIONSERVICIO],c.descripcion as[DESCRIPCION],l.Ubicacion AS[UBICACION],s.Latitud AS[LATITUD],s.Longitud AS[LONGITUD]
        

from Servicios s inner join categoria c
on s.id_categoria=c.id_categoria join usuario u
on u.id=s.idusuario join Localizacion l 
on s.idlocalizacion=l.ID inner join estado_servicio e
on s.estado=e.id
	ORDER BY s.id_servicio DESC
end

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_UBICACION]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_UBICACION]
as
begin
       select l.ID,l.Ubicacion,l.Latitud,l.Longitud from Localizacion l

end

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LISTAR_USUARIO]
as
begin
select u.id as[CODIGO],u.nombre as[NOMBRE],u.email as [CORREO],u.password as [PASSWORD],u.telefono as [TELEFONO],u.Activo as [ACTIVO],u.eliminado as [ELIMINADO],u.fecha as [FECHA],r.id as [IDROL] ,r.nombre AS [ROL],
       l.Ubicacion as[UBICACION],l.Latitud as[LATITUD],l.Longitud as[LONGITUD],u.urlFoto as [URLFOTO]

from usuario u inner join rol r
on u.idRol=r.id inner join Localizacion l
on u.idLocalizacion=l.id
end

GO
/****** Object:  StoredProcedure [dbo].[LOGIN_USUARIO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LOGIN_USUARIO]
@Usuario varchar(50),
@Contraseña varchar(20)
as
begin 
        declare @codResultado int, @mensaje varchar(50),@codUsuario int,@codTipo int,@Tipo varchar(20),@nombre varchar(50),@urlFoto varchar(max),@idLocalizacion int,@telefono varchar(10),@fechaNacimiento varchar(50), @activo int, @eliminado int;
		if exists(SELECT email,password FROM usuario where password=@Contraseña and email=@Usuario)
		begin

		   SELECT @codTipo = r.id,@Tipo = r.nombre,@codUsuario = u.id,@nombre = u.nombre,@urlFoto = u.urlFoto,@idLocalizacion = u.idLocalizacion, @telefono = u.telefono,@fechaNacimiento = convert(varchar(10),u.fecha, 103),@activo = u.activo, @eliminado = u.eliminado 
			FROM rol r inner join usuario u on u.idRol = r.id 
			WHERE u.password=@Contraseña and u.email=@Usuario

		   if(@Tipo='Socio')
		   begin
		   
		   set @mensaje='Bienvenido Socio'	
		   set @codResultado = 1;	

		   end
		   else if(@Tipo='Administrador')
		   begin

		   set @mensaje='Bienvenido Administrador'
		   set @codResultado = 1;	

		   end
		   else if(@Tipo='Cliente')
		   begin
		   set @mensaje='Bienvenido Cliente'
		   set @codResultado = 1;	

		   end
		   END
		   else BEGIN
		     set @mensaje='Usuario o contraseña inválidos'
			 set @codResultado = 0;	
		end
		select @codResultado as [codResultado],@mensaje as [desResultado],@codTipo as [codRol],@Tipo as [nomRol],@codUsuario as [codUsuario],@nombre as [nomUsuario],@urlFoto as [urlFoto],@idLocalizacion as [idLocalizacion],@telefono as [telefono],@fechaNacimiento as [fechaNacimiento], @activo as [activo], @eliminado as [eliminado]
end

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_SERVICIO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MODIFICAR_SERVICIO]
@ID INT,
@idusuario int,
@descripcion varchar(200),
@calificacion int,
@fecha_inicio datetime,
@fecha_fin datetime,
@idcategoria int,
@localizacion int,
@latitud varchar(200),
@longitud varchar(200),
@estado int

as
BEGIN
UPDATE Servicios
SET idusuario=@idusuario,descripcion=@descripcion,calificacion=@calificacion ,fecha_inicio=@fecha_inicio,fecha_fin=@fecha_fin,latitud=@latitud,longitud=@longitud,estado=@estado,id_categoria=@idcategoria 
,idLocalizacion=@localizacion
WHERE id_servicio =@ID
END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_USUARIO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MODIFICAR_USUARIO]
@id int,
@nombre varchar(20),
@email varchar(20),
@Contraseña varchar(10),
@telefono varchar(10),
@Activo bit,
@Eliminado bit,
@fecha datetime,
@rol int,
@localizacion int,
@urlFoto varchar(max)

as
BEGIN
UPDATE usuario
SET nombre=@nombre,email=@email,password=@Contraseña,telefono=@telefono,Activo=@Activo,eliminado=@Eliminado ,fecha=@fecha ,idRol=@rol ,idLocalizacion=@localizacion, urlFoto = @urlFoto
WHERE id =@id
END

GO
/****** Object:  StoredProcedure [dbo].[PublicarServicios]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PublicarServicios]
(
@NombreCate varchar(20),
@ubicacion int,
@Descripcion varchar(100)
)
as
begin
    select s.descripcion as[DESCRIPCION],c.descripcion [NOMBRE-CATEGORIA],l.Ubicacion AS[UBICACION]
	   from Servicios s inner join categoria c
	   on s.id_categoria=c.id_categoria inner join Localizacion l
	   on s.idLocalizacion=l.ID
	   where s.id_categoria=@NombreCate and s.idLocalizacion=@ubicacion and s.id_servicio=@Descripcion

end

GO
/****** Object:  StoredProcedure [dbo].[RECUPERACION_CUENTA]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RECUPERACION_CUENTA]

@idUsuario int,@codRecuperacion varchar(10),@contraseniaNueva varchar(200)
as   
   declare @mensaje varchar(200),@codResultado int,@codAutogeneradoBD varchar(10)    
    if exists(Select * from RecuperacionCuentaTemp where IdUsuario=5 AND estado = 1)
	begin
			Select Top 1 @codAutogeneradoBD = r.codigoRecuperacion from RecuperacionCuentaTemp r where IdUsuario=@idUsuario ORDER BY r.Id DESC
			 if (@codAutogeneradoBD = @codRecuperacion)
				BEGIN TRY  
					UPDATE usuario
						SET password = @contraseniaNueva
					WHERE id = @idUsuario;
					SET @mensaje = 'Se cambió la contraseña correctamente'
					SET @codResultado = 1;
					 select @codResultado as CodResultado, @mensaje as DesResultado
				    return
				END TRY
				BEGIN CATCH  
				   SET @mensaje = 'Error al cambiar la contraseña, intentelo más tarde'
				   SET @codResultado = 0;
				   ROLLBACK
				    select @codResultado as CodResultado, @mensaje as DesResultado
				   return
				END CATCH    
	end
begin
SET @codResultado = 0
SET @mensaje='Codigo de recuperación inválido'    	   	
	   select @codResultado as CodResultado, @mensaje as DesResultado	
	  return 
end

GO
/****** Object:  StoredProcedure [dbo].[REGISTRAR_SERVICIO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[REGISTRAR_SERVICIO]
(
@idusuario int,
@descripcion varchar(200),
@calificacion int,
@fecha_inicio datetime,
@fecha_fin datetime,
@idcategoria int,
@localizacion int,
@latitud varchar(200),
@longitud varchar(200),
@estado int
)
as
begin
DECLARE @ID INT;
INSERT INTO Servicios(idusuario,descripcion,calificacion,fecha_inicio,fecha_fin,id_categoria,idLocalizacion,latitud,longitud,estado) VALUES(
@idusuario,@descripcion,@calificacion,@fecha_inicio,@fecha_fin,@idcategoria,@localizacion,@latitud,@longitud,@estado) 
SELECT @ID=id_servicio FROM Servicios
SET @ID =(SELECT SCOPE_IDENTITY())
end

GO
/****** Object:  StoredProcedure [dbo].[REGISTRAR_USUARIO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[REGISTRAR_USUARIO]
(
@nombre varchar(20),
@email varchar(20),
@Contraseña varchar(10),
@Activo bit,
@Eliminado bit,
@fecha datetime,
@telefono int,
@rol int,
@localizacion int,
@urlFoto varchar(max)
)

as
	declare @codResultado int,@mensaje varchar(50),@tel varchar(50);         
    if exists(Select * from usuario where email=@email)   
	        
	begin	       
		   set @mensaje='Ya existe este Usuario'+' '+@email		  
		   set @codResultado = 0;
		   select @codResultado as codResultado,@mensaje as Mensaje,@activo as Conectado		   
	  return 
	end
	else if exists(Select * from usuario where telefono=@telefono)
	begin
	      set @mensaje='Ya existe este Telefono'+' '+str(@telefono)		  
		  set @codResultado = 0;
		   select @codResultado as codResultado,@mensaje as Mensaje,@activo as Conectado	
	return
	end

begin
DECLARE @ID INT;
INSERT INTO usuario(nombre,email,password,Activo,eliminado,fecha,idRol,idLocalizacion,telefono,urlFoto) VALUES(@nombre,
@email,@contraseña,@Activo,@Eliminado,@fecha,@rol,@localizacion,@telefono,@urlFoto) 
SELECT @ID=id FROM usuario 
SET @ID =(SELECT SCOPE_IDENTITY())
  set @codResultado = 1;
  set @mensaje='Registrado Correctamente'
  select @codResultado as codResultado,@mensaje as Mensaje 
end

GO
/****** Object:  StoredProcedure [dbo].[ServiciosXubicacion]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ServiciosXubicacion]
(@ubicacion int)

as
begin    
select s.id_servicio as[CODIGO],u.nombre as[NOMBRE],s.calificacion as[CALIFICACION],s.fecha_inicio as [FECHA-INICIO],
        s.fecha_fin as [FECHA-FIN],e.descripcion as[ESTADO],s.descripcion as [DESCRIPCIONSERVICIO],c.descripcion as[DESCRIPCION],l.Ubicacion AS[UBICACION],l.Latitud AS[LATITUD],l.Longitud AS[LONGITUD]
       

from Servicios s inner join categoria c
on s.id_categoria=c.id_categoria join usuario u
on u.id=s.idusuario inner join Localizacion l 
on u.idlocalizacion=l.ID inner join estado_servicio e
on s.estado=e.id
	 where s.idLocalizacion=@ubicacion	 	  
end

GO
/****** Object:  StoredProcedure [dbo].[VALIDAR_EMAIL]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VALIDAR_EMAIL]

@email varchar(100)
as   
   declare @mensaje varchar(50),@codResultado int       
    if exists(Select * from usuario where email=@email)

	begin
			set @codResultado = 0
		   set @mensaje='Ya existe el usuario'+'  '+@email	    	   	
	   select @codResultado as CodResultado, @mensaje as DesResultado		
	  return 
	end

begin
set @codResultado = 1
set @mensaje=@email+' está disponible'	    	   	
	   select @codResultado as CodResultado, @mensaje as DesResultado  			
	  return 
end


GO
/****** Object:  StoredProcedure [dbo].[VALIDAR_TELEFONO]    Script Date: 10/11/2019 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VALIDAR_TELEFONO]

@telefono int
as   
   declare @mensaje varchar(50),@codResultado int       
    if exists(Select * from usuario where telefono=@telefono)

	begin
			set @codResultado = 0
		   set @mensaje='Ya existe el número'+' '+CAST(@telefono as varchar(10))   	   	
	   select @codResultado as CodResultado, @mensaje as DesResultado		
	  return 
	end

begin
set @codResultado = 1
set @mensaje=CAST(@telefono as varchar(10))+' está disponible'	    	   	
	   select @codResultado as CodResultado, @mensaje as DesResultado  			
	  return 
end


GO
USE [master]
GO
